/* ======== 
     HOME PAGE 
     ===========*/

.home {
    font-family: Proxima Nova W01, Helvetica, Arial, sans-serif;
    text-align: center;
    line-break: auto;
    text-transform: capitalize;
    line-height: 32px;
    letter-spacing: 0.08em;
    font-size: 1em;
}

.home h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    letter-spacing: 0.08em;
}

.home h2 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    letter-spacing: 0.08em;
}

/* .home-image {

  background-color: blue;
} */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-container {
    padding: 4px;
    width: 90%;
    margin: 0 auto;
}

/* =========================
             HEADER 
  ============================*/
  .login{
      display: inline-block;
      margin-right:30px

  }

.header {
    background-color: rgba(0, 0, 0, 0.794);
}

.header-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 18px 15px;
}

.header-nav-list li {
    padding: 8px 30px 12px 0px;
}

.header-nav-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.8);
}

.header-nav-list li a:hover {
    color: #fff;
}

.header-search .header-search-bar {
    padding: 10px 10px;
    margin-bottom: 50px;
    border: 1px solid #fff;
}

.header-search .header-button {
    width: 100px;
    padding: 10px 10px;
    background-color: chocolate;
    color: #fff;
}

.selected {
    color: rgb(0, 132, 255) !important;
}

/* =============================
       SLIDESHOW
  ========================*/

/* =======================
      PRODUCTS
    ============= */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.card img {
    width: 100%;
    height: 300px;
}

.chair,
.sofa,
.table {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card-description {
    min-height: 200px;
}

.product-container .card {
    margin-top: 30px;
}

.product-hide {
    display: none;
}

/*=========================================
          CONTACT PAGE
  ==========================================*/

.contact p {
    margin-bottom: 40px;
}

.contact form {
    width: 90%;
}

.contact input,
.contact textarea {
    display: block;
    width: 100%;
}

.contact input {
    padding: 10px 10px;
    margin: 10px 0 30px 0;
}

.contact textarea {
    padding: 10px 10px;
    margin: 10px 0 30px 0;
    height: 200px;
}

.contact button {
    background-color: blue;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

/* ========================
       THE FOOTER
  =================*/

.footer {
    margin-top: 30px;
    padding: 16px 0;
    background-color: rgba(0, 0, 0, 0.794);
    color: #fff;
    text-align: center;
}

.footer a:hover {
    color: #fff;
}

.footer-list li {
    padding: 8px 16px 8px 0px;
    font-size: 18px;
    font-weight: 700;
}

.footer-list li a {
    color: rgb(255, 255, 255, 0.8);
    text-decoration: none;
}

.footer-icons li {
    display: inline-block;
    margin-right: 20px;
}

.footer-copyright {
    text-align: center;
}

/*=================
   TABLETS
  =========== */
@media only screen and (min-width: 800px) {
    /* ==============
       HEADER  & FOOTER
       ==================*/

    .header {
        padding: 0;
    }

    .header-nav,
    .footer-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* ======================
      align links horizontally 
      ========================*/

    .header-nav-list li {
        display: inline-block;
    }

    .header-search .header-search-bar {
        margin-bottom: 0;
    }

    .footer {
        text-align: left;
    }
}

/* ==============
  BIG SCREENS 
  ================*/

@media only screen and (min-width: 1540px) {
    /*============== 
      CONTAINER
      ================ */

    .container {
        width: 1300px;
        background-color: grey;
    }
}

.select-products {
    background-color: cornflowerblue;
    margin-top: 10px;
}
